@page
@model Filmdatabasen.Pages.Images.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.MovieCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.MovieCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.MovieTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.MovieTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ImgUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ImgUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ImdbUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ImdbUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movie.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
